In [7]:
''' 
yorumsatye
jnkgtfrio
jitropmbtgr
opbtrokhbtr

'''

' \nyorumsatye\njnkgtfrio\njitropmbtgr\nopbtrokhbtr\n\n'

In [8]:
print('hello')  # yorum satiri

hello

In [9]:
print('hrllo')  '''
yorumsatyeir
fregt5e
gt546u764u76
'''

SyntaxError: invalid syntax (3769429398.py, line 1)

In [ ]:
print('hrllo')  

'''
yorumsatyeir
fregt5e
gt546u764u76
'''

In [10]:
num_int = 123
num_flt = 1.23
num_new = num_int + num_flt

In [14]:
num_int = 123
num_str = '456'
num_new = num_int + num_str
num_new

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
num_new

124.23

In [12]:
type(num_new)

float

In [13]:
print(type(num_new))

<class 'float'>

In [15]:
'12' + '8'

'128'

In [16]:
'11 - 7'

'11 - 7'

In [17]:
a = 5
b = 10

a, b = b, a

print(a)
print(b)

10
5

In [20]:
pi = 3.14
r = 5
area = pi * r * r
area

78.5

In [22]:
a = 3
b = 4
c = ((3 ** 2) + (4 ** 2)) ** 0.5 
c

5.0

In [27]:
name = 'omer'
surname = 'oncu'
print(name, end = ' ')
print(surname)

omer oncu

In [31]:
str_1 = 'I am angry...'

str_2 ='1453'

print(*str_1)
print(*str_2)
print(*'joseph@clarusway.com')

I   a m   a n g r y . . .
1 4 5 3
j o s e p h @ c l a r u s w a y . c o m

In [35]:
name = input('lutfen isminizi giriniz: ')
print('merhaba {}'.format(name))

merhaba omer

In [38]:
isim = input('isim gir')
yas = input('yas gir')
print('merhaba {} yasiniz  {}'.format(isim,yas))

merhaba omer yasiniz  45

In [41]:
'carsidan {meyve} aldim ve {yer} geldim'.format(meyve = 'elma', yer='eve')

'carsidan elma aldim ve eve geldim'