In [39]:
bos_liste = []

type(bos_liste)

list

In [40]:
bos_listem = list()

type(bos_listem)

bos_listem

[]

In [41]:
text = 'clarusway'

text_list = list(text)

text_list

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [42]:
numbers = [1,2,3]

numbers.append(4)
numbers

[1, 2, 3, 4]

In [43]:
numbers.append('9')
numbers

[1, 2, 3, 4, '9']

In [44]:
sayilar = [1,2,3]

sayilar + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [45]:
city = ['Ankara', 'istanbul' , 'paris', 'london']

city.insert(1, 'bursa')
city

['Ankara', 'bursa', 'istanbul', 'paris', 'london']

In [46]:
city.pop(1)

city

['Ankara', 'istanbul', 'paris', 'london']

In [47]:
city.remove('Ankara')
city

['istanbul', 'paris', 'london']

In [48]:
city.pop() # pop silinen elaemni return eder

'london'

In [49]:
city = ['Ankara', 'istanbul' , 'paris', 'london']
city

['Ankara', 'istanbul', 'paris', 'london']

In [50]:
del city[1]
city

['Ankara', 'paris', 'london']

In [51]:
numbers = [2, 1, 5, 8, 3, 12, 5] 
numbers.sort()
numbers

[1, 2, 3, 5, 5, 8, 12]

In [52]:
numbers.sort(reverse = True)
numbers

[12, 8, 5, 5, 3, 2, 1]

In [53]:
numbers = [2, 1, 5, 8, 3, 12, 5] 

sorted(numbers)  # orjinal liste degismiyor

[1, 2, 3, 5, 5, 8, 12]

In [54]:
sorted(numbers, reverse = True)

[12, 8, 5, 5, 3, 2, 1]

In [55]:
isimler = [ 'ali', 'mert', 'merve', 'omer', 'Zeynep']

isimler.sort()  # siralama ascii tablosun gore yapilir
isimler

['Zeynep', 'ali', 'mert', 'merve', 'omer']

In [56]:
ord('z')

122

In [57]:
chr(97)

'a'

In [58]:
sehirler = ['istanbul', 'ankara', 'diyarbakir']

del sehirler[sehirler.index('ankara')]

sehirler

['istanbul', 'diyarbakir']

In [59]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
list(range(0, 51, 5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [61]:
numbers = list(range(11))

In [62]:
odd_numbers = list(range(1, 10, 2))
odd_numbers

[1, 3, 5, 7, 9]

In [63]:
numbers[1::2]

[1, 3, 5, 7, 9]

In [64]:
sehirler = ['istanbul', 'ankara', 'diyarbakir', 'mardin']

sehirler[:]

['istanbul', 'ankara', 'diyarbakir', 'mardin']

In [65]:
sehirler[2:]

['diyarbakir', 'mardin']

In [66]:
sehirler[:2]

['istanbul', 'ankara']

In [67]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
numbers[::2]

[0, 2, 4, 6, 8, 10]

In [69]:
mix_list = [1, [1,'one', 2, 'two', 3, 'three'], 4]

In [70]:
mix_list[1][1::2]

['one', 'two', 'three']

In [71]:
sehirler = ['istanbul', 'ankara', 'diyarbakir', 'mardin']


sehirler[-2:]

['diyarbakir', 'mardin']

In [72]:
sehirler[:-2]

['istanbul', 'ankara']

In [73]:
sehirler[::-1]

['mardin', 'diyarbakir', 'ankara', 'istanbul']

In [74]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [75]:
letters[7:3:-1]

['h', 'g', 'f', 'e']

In [76]:
letters[2:6:-1]

[]

In [77]:
my_tuple = ()
type(my_tuple)

tuple

In [78]:
text = 'happy'

my_list = list(text)
my_list

['h', 'a', 'p', 'p', 'y']

In [79]:
my_tuple = tuple(text)
my_tuple

('h', 'a', 'p', 'p', 'y')

In [80]:
my_tuple_2 = (text)
my_tuple_2

'happy'

In [81]:
my_tuple_3 = (2)
my_tuple_3

2

In [82]:
my_tuple_3 = (2,)
my_tuple_3

(2,)

In [83]:
numbers = 1, 2, 3
print(numbers)
print(type(numbers))

(1, 2, 3)
<class 'tuple'>

In [84]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [86]:
sayilar = (1, 2, 3, 3, 4, 4, 4, 5, 1, 2, 3)
sayilar

(1, 2, 3, 4, 4, 4, 5, 1, 2, 3)

In [88]:
sayilar.count(3)

2

In [89]:
sayilar.index(3)

2

In [91]:
t = (1, 'a', 'b', 3.14, ['joseph', 'davis']) 
type(t)

tuple

In [92]:
t[4]

['joseph', 'davis']

In [93]:
t[4][0] = 'omer'

In [94]:
t

(1, 'a', 'b', 3.14, ['omer', 'davis'])