In [1]:
my_set = {1, 2, 'ali', (1, 2), False, 3.14}
my_set

{(1, 2), 1, 2, 3.14, False, 'ali'}

In [2]:
bos_set = set()
bos_set

set()

In [3]:
numbers = {1, 1, 2, 3, 3, 4, 1, 2, 3, 4}
numbers

{1, 2, 3, 4}

In [6]:
number = [1, 1, 2, 3, 3, 4, 1, 2, 3, 4]
number = list(set(number))
number

[1, 2, 3, 4]

In [7]:
my_set = {1, 2, 'ali', (1, 2), False, 3.14, [1,2] }

TypeError: unhashable type: 'list'

In [8]:
my_set = {1, 2, 'ali', (1, 2), False, 3.14, {1,2,3}}

TypeError: unhashable type: 'set'

In [9]:
my_set = {1, 2, 'ali', (1, 2), False, 3.14, {'name':'omer'}}

TypeError: unhashable type: 'dict'

In [10]:
my_set

{(1, 2), 1, 2, 3.14, False, 'ali'}

In [11]:
my_set = {'apple', (1, 2,3,5), False, 3.14, 2023}
my_set

{(1, 2, 3, 5), 2023, 3.14, False, 'apple'}

In [12]:
my_set.add('orange')
my_set

{(1, 2, 3, 5), 2023, 3.14, False, 'apple', 'orange'}

In [14]:
my_set.add(120)
my_set

{(1, 2, 3, 5), 120, 2023, 3.14, False, 'apple', 'orange'}

In [15]:
my_set.remove('apple')
my_set

{(1, 2, 3, 5), 120, 2023, 3.14, False, 'orange'}

In [16]:
text = 'clarusway'
my_set = set(text)
my_set

{'a', 'c', 'l', 'r', 's', 'u', 'w', 'y'}

In [17]:
a = set('philadeplhia')
b = set('dolphin')

print(a)
print(b)

{'d', 'l', 'h', 'p', 'a', 'f', 'e', 'i'}
{'d', 'l', 'h', 'p', 'n', 'o', 'i'}

In [18]:
a_list = list('philadeplhia')
a_list

['p', 'h', 'i', 'l', 'a', 'd', 'e', 'p', 'l', 'h', 'i', 'a']

In [19]:
a = set('philadeplhia')
b = set('dolphin')

In [20]:
a - b

{'a', 'e'}

In [21]:
a.intersection(b)

{'d', 'h', 'i', 'l', 'p'}

In [22]:
a.difference(b)

{'a', 'e'}